.sidenav{
    // width: 400px !important;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    
    &-content{
        margin-left: 8px;
        width: calc(100% - 8px);

        &-close{
            width: calc(100% - 8px);
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    hr{
        margin: 0;
        padding: 0;
        top: 0;
        bottom: 0;
        border: none;
        border-right: 1px solid rgb(179, 179, 179);
        height: 100%;
        -webkit-box-shadow: 3px 0px 6px 3px rgba(0,0,0,0.18); 
        box-shadow: 3px 0px 6px 3px rgba(0,0,0,0.18);
    }
}