.notification{
    z-index: 999;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-card{
        height: 40%;
        width: 30%;
        border-radius: 16px;
        padding: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &-close{
            margin-left: auto;
        }

        h1{
            margin: 10px;
            font-size: 30px;
        }

        &-button{
            cursor: pointer;
            height: 40px;
            width: 180px;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px;
            margin: 8px;
            color: white;
            transition: all 0.5s;

            &:hover{
                opacity: 0.7;
                position: relative;
                animation: tremor 0.3s;
            }

            &-icon{
                font-size: 30px;
                color: white;
                margin: 12px;
            }
            
        }
    }
}

.google{
    background-color: rgb(219, 1, 1);
}

.facebook{
    background-color: rgb(0, 57, 245);
}

.microsoft{
    background-color: rgb(0, 135, 245);
}


@media screen and (max-width: 1025px) and (max-height: 660px) {

    .notification {
        &-card{
            height: 60% !important;
            width: 40% !important;
        
            // &-button{
            //     height: 30% !important;
            //     width: 80% !important;
            // }
        }
    }
}

@media screen and (max-width: 770px) and (max-height: 660px) {

    .notification {
        &-card{
            height: 50% !important;
            width: 30% !important;
        
            // &-button{
            //     height: 15% !important;
            //     width: 60% !important;
            // }
        }
    }

    h1{
        margin: 10px;
        font-size: 25px !important;
    }
}

@media screen and (max-width: 540px) and (max-height: 660px) {

    .notification {
        &-card{
            height: 60% !important;
            width: 50% !important;
        
            // &-button{
            //     height: 15% !important;
            //     width: 60% !important;
            // }
        }
    }

}

@media screen and (max-width: 321px) and (max-height: 660px) {

    .notification {
        &-card{
            height: 60% !important;
            width: 70% !important;
        
            // &-button{
            //     height: 15% !important;
            //     width: 60% !important;
            // }
        }
    }

}

@media screen and (max-height: 580px) {

    .notification {
        &-card{
            height: 60%;
            width: 30%;
        
            // &-button{
            //     height: 15% !important;
            //     width: 60% !important;
            // }
        }
    }

}

